:root {
    --noneAcrylicBackgroundColor: #d3ece0;
    --acrylicBackgroundColor: rgba(255, 255, 255, 0.5);
    /* --acrylicBackgroundColor: transparent; */
    -webkit-app-region: no-drag;
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    user-select: none;
}

body {
    --color: #000;
    --controlHue: 210;
    --controlAcrylic: hsla(var(--controlHue, 210), 80%, 98%, 0.3);
    --controlAcrylicDark: hsla(var(--controlHue, 210), 80%, 10%, 0.2);
    --controlColor: hsl(var(--controlHue, 210), 80%, 50%);
    --controlBright: hsl(var(--controlHue, 210), 80%, 70%);
    --controlBrighter: hsl(var(--controlHue, 210), 80%, 90%);
    --controlDark: hsl(var(--controlHue, 210), 80%, 45%);
    --controlDarker: hsl(var(--controlHue, 210), 80%, 30%);
    --controlNight: hsl(var(--controlHue, 210), 80%, 14%);
    --controlWhite: hsl(var(--controlHue, 210), 80%, 98%);
    --controlBackground: hsl(var(--controlHue, 210), 80%, 96%);
    --controlBlack: hsl(var(--controlHue, 210), 20%, 6%);
    --controlBlack2: hsl(var(--controlHue, 210), 20%, 2%);
    --controlBlack4: hsl(var(--controlHue, 210), 20%, 4%);
    --controlBlack8: hsl(var(--controlHue, 210), 20%, 8%);
    --controlBlack12: hsl(var(--controlHue, 210), 20%, 12%);
    --controlBlack16: hsl(var(--controlHue, 210), 20%, 16%);
    --controlBlack24: hsl(var(--controlHue, 210), 20%, 24%);
    --controlBlack36: hsl(var(--controlHue, 210), 20%, 36%);
    --controlBlack52: hsl(var(--controlHue, 210), 20%, 52%);
    --controlGray: hsl(var(--controlHue, 210), 10%, 70%);

    --noneAcrylicBackgroundColor: var(--controlBackground);

    --fade: rgba(0, 0, 0, 0.3);
    --fadeDark: rgba(0, 0, 0, 0.5);

    --dynamicControlLight: var(var(--controlBrighter));

    background-color: var(--controlWhite);
    color: var(--controlBlack);
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    flex-shrink: 0;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    flex-shrink: 0;
}

.txt {
    user-select: text;
}

.btn {
    font-weight: bold;
    padding: 8px 12px;
    font-family: iconfont, Roboto, sans-serif;
    font-size: small;
    transition: all 0.12s, visibility 0s;
    cursor: pointer;
}

.btn.margin {
    margin: 4px;
}
.btn.margin.px8 {
    margin: 8px;
}

.btn.outlined {
    height: 16px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    border-radius: 12px;
}

.btn.big {
    font-weight: bold;
    font-size: small;
    height: fit-content;
    border-radius: 4px;
}

.btn.border {
    border: solid 2px var(--controlDark);
}

.btn.accent {
    color: var(--controlWhite);
    background-color: var(--controlColor);
}

.btn.accent.light {
    background-color: var(--controlBright);
}

.btn.FAB {
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    filter: brightness(92%);
}

.btn:active {
    transform: scale(0.94);
}

.accent {
    background-color: var(--controlColor);
}

.bright {
    background-color: var(--controlBright);
    color: var(--controlNight)
}

.light {
    font-weight: bold;
    background-color: var(--controlBrighter);
    color: var(--controlDarker)
}

.btn.text {
    background-color: transparent;
    color: var(--controlDarker)
}

.btn.text:hover {
    background-color: var(--fade);
}




.divider {
    width: 100%;
    border-bottom: solid 1px #ddd;
}



.Row {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Row[row-title] {
    margin-top: 24px;
    padding: 48px 24px 0;
    box-sizing: border-box;
}

.Row[row-title]::after {
    content: attr(row-title);
    position: absolute;
    font-size: x-large;
    top: 0px;
    left: 32px;
}

.Column {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Column[column-title] {
    margin-top: 24px;
    padding: 48px 24px 0;
    box-sizing: border-box;
}

.Column[column-title]::after {
    content: attr(column-title);
    position: absolute;
    font-size: x-large;
    top: 0;
    left: 32px;
}

.radius {
    border-radius: 8px;
}

.radius.px4 {
    border-radius: 4px;
}

.radius.px12 {
    border-radius: 12px;
}

.radius.px16 {
    border-radius: 16px;
}

.radius.px24 {
    border-radius: 24px;
}


progress, .progress {
    border: none;
    border-radius: 0;
    appearance: none;
}
/*设置进度条颜色*/
::-webkit-progress-value, .progress {
    background-color: var(--controlDark);
}
/*设置进度条背景颜色*/
::-webkit-progress-bar, .progress-bar {
    background-color: var(--controlGray);
}

progress.horizontal {
    display: block;
    height: 8px;
    width: 100%;
}

.horizontal::-webkit-progress-value {
    border-radius: 3px;
}


.outline {
    outline: solid 2px;
}
.outline.px4 {
    outline: solid 2px;
}
.outline.dark {
    outline-color: var(--controlDark);
}
.outline.bright {
    outline-color: var(--controlBright);
}



.scrollable::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--controlGray);
    border-radius: 2px;
}
.scrollable.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}
.scrollable.vertical {
    overflow-y: auto;
    overflow-x: hidden;
}