:root {
    --noneAcrylicBackgroundColor: #d3ece0;
    --acrylicBackgroundColor: rgba(255,255,255,0.5);
    /* --acrylicBackgroundColor: transparent; */
    -webkit-app-region: no-drag;
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    user-select: none;
}

body {
    --color: #000;
    --controlHue: 210;
    --controlAcrylic: hsla(var(--controlHue, 210), 80%, 98%, 0.3);
    --controlColor: hsl(var(--controlHue, 210), 80%, 50%);
    --controlBright: hsl(var(--controlHue, 210), 80%, 70%);
    --controlBrighter: hsl(var(--controlHue, 210), 80%, 90%);
    --controlDark: hsl(var(--controlHue, 210), 80%, 45%);
    --controlDarker: hsl(var(--controlHue, 210), 80%, 30%);
    --controlNight: hsl(var(--controlHue, 210), 80%, 14%);
    --controlWhite: hsl(var(--controlHue, 210), 80%, 98%);
    --controlBackground: hsl(var(--controlHue, 210), 80%, 95%);
    --controlBlack: hsl(var(--controlHue, 210), 80%, 6%);

    --noneAcrylicBackgroundColor: var(--controlBackground);

    background-color: var(--controlWhite);
    color: var(--controlBlack);
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    flex-shrink: 0;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    flex-shrink: 0;
}

.txt {
    user-select: text;
}

.btn {
    padding: 8px 12px;
    font-family: iconfont, Roboto, sans-serif;
    font-size: small;
    transition: all 0.12s;
    cursor: pointer;
}

.btn.outlined {
    height: 16px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    border-radius: 12px;
}

.btn.big {
    font-weight: bold;
    font-size: small;
    height: fit-content;
    border-radius: 4px;
}

.btn.border {
    border: solid 2px var(--controlDark);
}

.btn.accent {
    color: var(--controlWhite);
    background-color: var(--controlColor);
}

.btn.accent.light {
    background-color: var(--controlBright);
}

.btn:hover {
    filter: brightness(92%);
}

.btn:active {
    transform: scale(0.94);
}

.accent {
    background-color: var(--controlColor);
}

.bright {
    background-color: var(--controlBright);
    color: var(--controlNight)
}

.light {
    background-color: var(--controlBrighter);
    color: var(--controlDarker)
}




.divider {
    width: 100%;
    border-bottom: solid 1px #ddd;
}